extends layout

block content
    #games
        .gameopen(style='margin-top: 200px;padding: 30px;width: 50vw;font-size: 30px;')
            | Konto zostało utworzone. 
            a(href='/login')
                input.buybutton(type='submit' value='Zaloguj się')
